// colores
gris_claro=#dddddc
gris_oscuro=#30302f
gris_medio=#696868
rosa=#df7250
verde=#1cb28c
verde_rgb=rgb(28,178,140)
gris_claro_rgb_1=rgb(192,192,192)
gris_claro_rgb_2=rgb(224,224,224)
gris_claro_rgb_3=rgb(240,240,240)
gris_claro_rgba_1=rgba(0, 0, 0, 0.5)
rojo_vineta=#ff7070

nav
	display inline-block
	background gris_oscuro
	position fixed
	top 0
	width 100%
	z-index 9
	.menu
		overflow-x auto
		margin 0
		padding 0
		li
			display inline-block
			padding 0.5em
			a
				color gris_claro
				text-decoration none
			a.ico_nav
				&:hover
					color rosa
			a.ico_logout
				color rosa
				&:hover
					color gris_claro

.caja_acciones
	background gris_claro
	margin-top -1em
	padding 0
	position fixed
	text-align center
	width 100%
	z-index 8
	.menu_acciones
		overflow-x auto
		margin 4px
		padding 0
		li
			display inline-block
			padding-left 0.5em
			a
				color gris_medio
				text-decoration none
			a.ico_acciones
				&:hover
					color gris_oscuro
			input.buscar
				background url('search-white.png') no-repeat 10px 6px #fcfcfc
				border 1px solid lightblue
				font bold 12px Arial,Helvetica,Sans-serif
				color #bebebe
				width 150px
				padding 6px 15px 6px 35px
				-webkit-border-radius 20px
				-moz-border-radius 20px
				border-radius 20px
				text-shadow 0 2px 3px rgba(0, 0, 0, 0.1)
				-webkit-box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
				-moz-box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
				box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
				-webkit-transition all 0.7s ease 0s
				-moz-transition all 0.7s ease 0s
				-o-transition all 0.7s ease 0s
				transition all 0.7s ease 0s
				&:focus
					width 200px

body
	background -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%) /* FF3.6+ */
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))) /* Chrome,Safari4+ */
	background -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%) /* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%) /* Opera 11.10+ */
	background -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%) /* IE10+ */
	background linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%) /* W3C */
	font-family arial-regular
	font-size 14px
	margin-top 5em
	margin-bottom 7em
.login
	.bloque_login
		background transparent
		width 80%
		color #fff
		margin-left 250px
		padding 10px 2px 2px 2px
		position fixed
		_position absolute
		height 45px
		z-index 8
		top 0
		.form
			float right
			width 450px
			padding 2px 2px 2px 2px
			position relative
			.field
				position relative
				display inline-block
				margin 0
				padding 0
			.field i
					left 0px
					top 0px
					position absolute
					height 36px
					width 36px
					border-right 1px solid rgba(0, 0, 0, 0.1)
					box-shadow 1px 0 0 rgba(255, 255, 255, 0.7)
					color #777777
					text-align center
					line-height 42px
					transition all 0.3s ease-out
					pointer-events none
				input[type=text],input[type=password]
					font-family 'Lato', Calibri, Arial, sans-serif
					font-size 12px
					font-weight 400
					text-shadow 0 1px 0 rgba(255,255,255,0.8)
					/* Size and position */
					width 70%
					padding 10px 18px 10px 45px
					/* Styles */
					border none /* Remove the default border */
					box-shadow inset 0 0 5px rgba(0,0,0,0.1), inset 0 3px 2px rgba(0,0,0,0.1)
					border-radius 3px
					background #f9f9f9
					color #777
					transition color 0.3s ease-out
				input[type=text]
					margin-bottom 2px
				input[type=text]:hover ~ i,input[type=password]:hover ~ i
					color  #52cfeb
				input[type=text]:focus ~ i,input[type=password]:focus ~ i
					color #42A2BC
				input[type=text]:focus,input[type=password]:focus,button[type=submit]:focus
					outline out
			.submit
				width 30px
				height 30px
				position absolute
				top -12px
				right 4px
				padding 4px
				z-index 16
				background #ffffff
				border-radius 50%
				box-shadow 0 0 2px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1),inset 0 -3px 2px rgba(0,0,0,0.2)
			.submit:after
				width 10px
				height 10px
				position absolute
				top -2px
				left 30px
				background #ffffff
				box-shadow 0 62px white, -32px 31px white
			button
				width 100%
				height 100%
				margin-top -1px
				font-size 1.4em
				line-height 1.75
				color white
				border none
				border-radius inherit
				background linear-gradient(#52cfeb, #42A2BC)
				box-shadow inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1)
				cursor pointer
			button:hover,button[type=submit]:focus
				background #52cfeb
				transition all 0.3s ease-out
			button:active
				background #42A2BC
				box-shadow inset 0 0 5px rgba(0,0,0,0.3), inset 0 3px 4px rgba(0,0,0,0.3)
	.bloque_logo
		margin 0
		padding 0
		.logo
			img
				width 400px
				height 360px
		.logo p
			text-align center
.contenido
	font-family arial-regular
	.div_empresa_servicio
		display inline-block
		width 25%
		vertical-align top
		margin-right 1%
		margin-left 1%
		margin-top 4em
	.div_empresa
		background gris_oscuro
		border-radius 0 0 0.5em 0.5em
		box-shadow 2px 2px 10px gris_claro
		color white
		font-size 16px
		text-align left
		position relative
		margin-bottom 0.5em
		padding 2px 50px 2px 10px
	.agregar_servicio
		position absolute
		margin-left 19.6em
		margin-top -2.8em
		a
			color rosa
			text-decoration none
	a.lnk_catalogo
		text-decoration none
		display inline-block
		position relative
		overflow hidden
		width 80%
		&:hover
			background-color verde
		&:active
			position relative
			top 4px
	.div_catalogo
		border 1px solid gris_medio
		box-shadow 0 0 0 verde, 1px 2px 10px gris_claro inset
		border-radius 5px
		color white
		font-size 12px
		text-align left
		padding 8px 20px
	a.lnk_servicio
		text-decoration none
		display inline-block
		vertical-align middle
		-webkit-transform translateZ(0)
		transform translateZ(0)
		box-shadow 0 0 2px rgba(0, 0, 0, 0)
		-webkit-backface-visibility hidden
		backface-visibility hidden
		-moz-osx-font-smoothing grayscale
		position relative
		overflow hidden
		width 100%
		&:before
			content ""
			position absolute
			z-index -1
			left 50%
			right 50%
			bottom 0
			background rosa
			height 4px
			-webkit-transition-property left, right
			transition-property left, right
			-webkit-transition-duration 0.8s
			transition-duration 0.8s
			-webkit-transition-timing-function ease-out
			transition-timing-function ease-out
		&:hover:before, &:focus:before, &:active:before
			left 0
			right 0
	.div_servicio
		background gris_medio
		border-radius 0 0 0.5em 0.5em
		box-shadow 2px 2px 10px gris_claro
		color white
		font-size 12px
		text-align left
		margin-bottom 0.5em
		padding 8px 30px
#bloque_contacto
	//display none
.bloque_mapa
	display inline-block
	width 30%
	vertical-align top
	margin-right 1%
	margin-left 1%
	margin-top 4em
	margin-bottom 4em
	.titulo_mapa
		background verde
		border-radius 5px 5px 0 0
		color white
		font-family arial-regular
		font-size 16px
		text-align center
	.caja_mapa
		background lightblue
		border-radius 0 0 5px 5px
		height 24em
	.menu_cordenadas
		overflow-x auto
		margin 20px
		padding 0
		text-align center
		li
			display inline-block
			padding-left 1em
			a
				color gris_medio
				text-decoration none
.bloque
	display inline-block
	width 30%
	vertical-align top
	margin-right 1%
	margin-left 1%
	margin-top 4em
	margin-bottom 4em
	#titulo_bloque_sucursal
		background rosa
	.titulo_bloque
		background verde
		border-radius 5px 5px 0 0
		color white
		font-family arial-regular
		font-size 16px
		text-align center
	h2.enterprise_buscar
		background gris_medio
		color gris_claro
		margin 0
		padding 10px 0 10px 0
		text-align center
	h3.enterprise_buscar
		background gris_medio
		color gris_claro
		margin 0
		padding 10px 0 10px 0
		text-align center
	.caja_buscar
		border 1px solid lightblue
		box-shadow 0 0 0 verde, 1px 2px 10px gris_claro inset
		border-radius 5px
		margin-top -1em
		padding 0
		text-align center
		width 100%
		z-index 8
		.lista_buscar
			overflow-x auto
			margin 4px
			padding 0
			li
				display inline-block
				//padding-left 1em
				a
					color gris_claro
					text-decoration none
				.buscar
					background url('search-white.png') no-repeat 10px 6px #fcfcfc
					border 1px solid lightblue
					font bold 12px Arial,Helvetica,Sans-serif
					color #bebebe
					width 110px
					padding 6px 15px 6px 35px
					-webkit-border-radius 20px
					-moz-border-radius 20px
					border-radius 20px
					text-shadow 0 2px 3px rgba(0, 0, 0, 0.1)
					-webkit-box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
					-moz-box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
					box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
					-webkit-transition all 0.7s ease 0s
					-moz-transition all 0.7s ease 0s
					-o-transition all 0.7s ease 0s
					transition all 0.7s ease 0s
					&:focus
						width 260px
	.mi_hr
		// border 0
		// height 0
		// box-shadow 0 2px 2px 1px lightblue
		//margin-bottom 2.5em
		margin 1.5em
		height 30px
		border-style solid
		border-color rosa
		border-width 1px 0 0 0
		border-radius 20px
		&:before
			display block
			content ""
			height 30px
			margin-top -31px
			border-style solid
			border-color rosa
			border-width 0 0 1px 0
			border-radius 20px
	.caja_buscar_sola
		//border 1px solid lightblue
		//box-shadow 0 0 0 verde, 1px 2px 10px gris_claro inset
		border-radius 5px
		margin-top -3em
		padding 0
		text-align center
		width 100%
		z-index 8
		.lista_buscar
			overflow-x auto
			margin 4px
			padding 0
			li
				display inline-block
				//padding-left 1em
				a
					color rosa
					text-decoration none
				.buscar
					background url('search-white.png') no-repeat 10px 6px #fcfcfc
					border 1px solid rosa
					font bold 12px Arial,Helvetica,Sans-serif
					color #bebebe
					width 110px
					padding 6px 15px 6px 35px
					-webkit-border-radius 20px
					-moz-border-radius 20px
					border-radius 20px
					text-shadow 0 2px 3px rgba(0, 0, 0, 0.1)
					-webkit-box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
					-moz-box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
					box-shadow 0 1px 3px rgba(0, 0, 0, 0.15) inset
					-webkit-transition all 0.7s ease 0s
					-moz-transition all 0.7s ease 0s
					-o-transition all 0.7s ease 0s
					transition all 0.7s ease 0s
					width 260px
	.profiler
		background gris_medio
		border-radius 10px
		//width 100%
		.profiler_foto
			display inline-block
			border 0
			border-radius 10px
			.foto_profiler
				background gris_medio
				margin 5px
				img
					width 100px
					height 100px
					border-radius 20px
		.profiler_datos
			color white
			display inline-block
			position absolute
			//margin 6px
			padding 5px
			h2
			div
				margin 0
				width 32%
				h3
					display inline
			h4
			h5
				font-family arial-regular
				margin 2px
				padding 0
				position relative
				&.motivo_cardex
					color orange
	.enterprise
		background gris_medio
		border-radius 10px
		//width 100%
		.enterprise_foto
			display inline-block
			border 0
			border-radius 10px
			.foto_enterprise
				background gris_medio
				margin 10px
				img
					width 90px
					height 90px
					border-radius 20px
		.enterprise_datos
			color white
			display inline-block
			position absolute
			//margin 5px
			padding 5px
			h2
			div
				margin 0
				width 32%
				h3
					display inline
			h4
			h5
				font-family arial-regular
				margin 2px
				padding 0
				position relative
				&.motivo_cardex
					color orange

	.caja_bloque
		border-radius 0 0 5px 5px
		background gris_medio
		.campos_bloque
			.ul_bloque
				width 800px
				list-style-type none
				margin 0
				padding 0.1em
				.li_bloque
					color gris_claro
					font-family arial-regular
					font-size 14px
					padding 0.2em
					.etiquetas_bloque
						width 135px
						margin-top 2px
						display inline-block
						float left
						padding 2px
					.reducir
						width 110px
					.etiquetas_bloque_consulta
						color white
						height auto
						display inline-block
						width 240px
						padding 2px 8px
						border 1px solid lightblue
						box-shadow 0 0 0 verde, 1px 2px 10px gris_claro inset
						border-radius 1px
					.color_sucursal
						border 1px solid rosa
					.inputs_bloque
						color black
						height 16px
						width 220px
						padding 2px 8px
						border 1px solid lightblue
						box-shadow 0px 0px 1px verde, 0 10px 15px gris_claro inset
						border-radius 1px
						&:focus
							border 1px solid white
						&:valid
							border 1px solid lightgreen
						&:valid ~ .viñeta::before
							content "\2713"
							color lightgreen
						&:invalid
							border 1px solid rojo_vineta
						&:invalid ~ .viñeta::before
							content "\2613"
							color rojo_vineta
					.viñeta
						display inline-block
					.textarea_bloque
						color black
						height 80px
						width 220px
						resize vertical
						padding 2px 8px
						border 1px solid lightblue
						box-shadow 0px 0px 1px verde, 0 10px 15px gris_claro inset
						border-radius 1px
						&:focus
							border 1px solid white
						&:valid
							border 1px solid lightgreen
						&:valid ~ .viñeta::before
							content "\2713"
							color lightgreen
						&:invalid
							border 1px solid rojo_vineta
						&:invalid ~ .viñeta::before
							content "\2613"
							color rojo_vineta
					.viñeta
						display inline-block
					.select_bloque
						color black
						height 22px
						width 238px
						padding 2px 8px
						border 1px solid lightblue
						box-shadow 0px 0px 1px verde, 0 10px 15px gris_claro inset
						border-radius 1px
						&:focus
							border 1px solid white
						&:valid
							border 1px solid lightgreen
						&:valid ~ .viñeta::before
							content "\2713"
							color lightgreen
						&:invalid
							border 1px solid rojo_vineta
						&:invalid ~ .viñeta::before
							content "\2613"
							color rojo_vineta
					.viñeta
						display inline-block
					.radio_bloque:not(old)
						width 2em
						margin 0
						padding 0
						font-size 1em
						opacity 0
						&:not(old) + label
							display inline-block
							margin-left -2em
							line-height 1.5em
						&:not(old) + label > span
							display inline-block
							width 0.875em
							height 0.875em
							margin 0.25em 0.5em 0.25em 0.25em
							border 0.0625em solid gris_claro_rgb_1
							border-radius 0.25em
							background gris_claro_rgb_2
							background-image -moz-linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
							background-image -ms-linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
							background-image -o-linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
							background-image -webkit-linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
							background-image linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
							vertical-align bottom
						&:not(old):checked + label > span
							background-image -moz-linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
							background-image -ms-linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
							background-image -o-linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
							background-image -webkit-linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
							background-image linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
						&:not(old):checked +  label > span > span
							display block
							width 0.5em
							height 0.5em
							margin 0.125em
							border 0.0625em solid verde_rgb
							border-radius 0.125em
							background verde_rgb
							background-image -moz-linear-gradient(verde_rgb,verde_rgb)
							background-image -ms-linear-gradient(verde_rgb,verde_rgb)
							background-image -o-linear-gradient(verde_rgb,verde_rgb)
							background-image -webkit-linear-gradient(verde_rgb,verde_rgb)
							background-image linear-gradient(verde_rgb,verde_rgb)
	.redondear
		border-radius 5px 5px 5px 5px
	.caja_foto
		border 0
		border-radius 0 0 5px 5px
		background gris_medio
		.foto
			margin 0
			img
				width 180px
				height 180px
				border-radius 20px
		.foto p
			margin 0
			text-align center
		.foto i
			color gris_claro
			position absolute
			margin-top -2em
			margin-left -0.5em
	.menu_foto
		margin 10px
		padding 0
		text-align center
		li
			display inline-block
			padding-left 1em
			.examinar
				color white
				background verde
				border-radius 4px
				border 1px solid gris_claro
				&:hover
					background-color rosa
			input[type=submit]
				text-decoration none
				background verde
				border-radius 4px
				border 1px solid gris_claro
				cursor pointer
				color white
				padding 4px 12px
				text-shadow 0px 1px 0px #5b8a3c
				&:hover
					background-color rosa
				&:active
					position relative
	.bloque_catalogo
		margin 0px
		padding 0px
		width 100%
		-moz-border-radius-bottomleft 0px
		-webkit-border-bottom-left-radius 0px
		border-bottom-left-radius 0px
		-moz-border-radius-bottomright 0px
		-webkit-border-bottom-right-radius 0px
		border-bottom-right-radius 0px
		-moz-border-radius-topright 0px
		-webkit-border-top-right-radius 0px
		border-top-right-radius 0px
		-moz-border-radius-topleft 0px
		-webkit-border-top-left-radius 0px
		border-top-left-radius 0px
		.tabla_catalogo
			border-collapse collapse
			border-spacing 0
			width 100%
			height 100%
			margin 0px
			padding 0px
	.bloque_catalogo tr:last-child td:last-child
		-moz-border-radius-bottomright 0px
		-webkit-border-bottom-right-radius 0px
		border-bottom-right-radius 0px
	.bloque_catalogo table tr:first-child td:first-child
		-moz-border-radius-topleft 0px
		-webkit-border-top-left-radius 0px
		border-top-left-radius 0px
	.bloque_catalogo table tr:first-child td:last-child
		-moz-border-radius-topright 0px
		-webkit-border-top-right-radius 0px
		border-top-right-radius 0px
	.bloque_catalogo tr:last-child td:first-child
		-moz-border-radius-bottomleft 0px
		-webkit-border-bottom-left-radius 0px
		border-bottom-left-radius 0px
	.bloque_catalogo tr:hover td {}
	.bloque_catalogo tr:nth-child(odd)
		background-color gris_medio
	.bloque_catalogo tr:nth-child(even)
		background-color gris_claro
	.bloque_catalogo td
		vertical-align middle
		//border 1px solid #000000
		border-width 0px 1px 1px 0px
		text-align left
		padding 5px
		font-size 10px
		font-family Arial
		font-weight normal
		color #000000 //color de letra tabla
	.bloque_catalogo tr:last-child td
		border-width 0px 1px 0px 0px
	.bloque_catalogo tr td:last-child
		border-width 0px 0px 1px 0px
	.bloque_catalogo tr:last-child td:last-child
		border-width 0px 0px 0px 0px
	.bloque_catalogo tr:first-child td
		background-color gris_oscuro
		text-align center
		border-width 0px 0px 1px 1px
		font-size 14px
		font-family Arial
		font-weight bold
		color #ffffff
	.bloque_catalogo tr:first-child td:first-child
		border-width 0px 0px 1px 0px
	.bloque_catalogo tr:first-child td:last-child
		border-width0px 0px 1px 1px
	a
		text-decoration none
		margin 0
		padding 0
	a.guardar_renglon
		color green
	a.eliminar_renglon
		color red
.reducir
	width 28%
.aumentar
	width 60%

 .divResultados
		position absolute
		margin-left auto
		margin-right auto
		width: 320px
		left: 45%
		margin-top -10px    
		border solid 1px #dedede
		border-top 0px
		border-radius 6px
		box-shadow 0px 0px 5px #999
		border-width 1px 1px 1px
		border-style solid
		border-color gris_claro #DEDEDE #DEDEDE
		background-color white
		z-index 200
		.resultado_ind
			padding:9px
			border-top solid 1px #dedede
			font-size 12px
			height 40px
			margin 1px 1px 1px 1px
			overflow hidden
			img
				float left
				height 40px
				width 40px
				margin-right 6px
		.resultado_ind:hover
			background gris_medio
			color #FFFFFF
			cursor pointer
	.divResultados2
		left: 8%
	.divResultados3
		left: 36%

footer
	background gris_oscuro
	bottom 0
	position fixed
	width 100%
	.redes_sociales
		overflow-x auto
		margin 0
		padding 0
		li
			display inline-block
			float right
			padding 0.5em
			a
				color gris_claro
				font-size 20px
				text-decoration none
			a.ico_redes
				&:hover
					color verde

.message
	box-shadow inset 0 -1px 0 rgba(255,255,255,.4)
	width 100%
	border 1px solid
	color #fff
	padding 10px
	position fixed
	_position absolute
	text-shadow 0 1px 0 rgba(0,0,0,.5)
	height 35px
	z-index 10
	top 0
	display none

.info
	background-color #4ea5cd
	border-color #3b8eb5

.error
	background-color #de4343
	border-color #c43d3d

.warning
	background-color #eaaf51
	border-color #d99a36

.success
	background-color #61b832
	border-color #55a12c

.message h3
	margin 0 0 0 0
	text-align center

.message p
	margin 0
	text-align center

@media screen and (max-width: 768px)
	.contenido
		.div_empresa_servicio
			margin-top 5em
			width 100%
		.agregar_servicio
			margin-left 17.6em
			margin-top -2.8em
		.bloque_mapa
		.bloque
			margin-top 4em
			margin-bottom -4em
			width 100%
			.titulo_mapa
			.titulo_bloque
				font-size 14px
			.caja_foto
				.foto
					img
						width 120px
						height 120px
			.caja_bloque
				width 100%
			br
				display none
			.campos_bloque
				display flex
			.caja_mapa
				height 14.5em
			.caja_buscar
				margin-bottom 1em
			.profiler
				margin-bottom 1em
			.enterprise
				margin-top 1em
				margin-bottom 2em
		#bloque_empresa
			margin-top 0
	.caja_acciones
		.menu_acciones
		li
			.buscar
				height 15px
				width 250px