   <article class="bloque reducir">
	<div class="caja_buscar">
				<ul class="lista_buscar">
					<li><a href="#"><i class="fa fa-industry fa-1x"></i></a></li>
					<li><input type="text" placeholder="Sucursal..." class="buscar"/></li>
				</ul>
				<div hidden class="divResultados divResultados3">
				  <div class="resultado_ind">
					<span class="name">1, Empresa Coca-Cola S.A. de C.V.</span>
				  </div>
					<div class="resultado_ind">
					<span class="name">2, Patito S. de R. L.</span>
					</div>
				 </div>
			</div>
			<br>
    <div class="enterprise">
				<figure class="enterprise_foto">
					<p><img src="images/factory.png" alt="foto" />
				</figure>
				<div class="enterprise_datos">
					<h2>100</h2>
					<h3>banco santa fe sucursal las monitas de la colonia de la narvarte en el merito centro</h3>
					<h5>REASIGNACIÓN</h5>
					<h5>Oficial, A, 1, 12x12, $150.35</h5>
					<h5>15/03/2015</h5>					
				</div>
			</div>
    		<a href="index_incidencias.html#" onclick="calendarPicker1.changeDate(new Date())"></a>
			<div id="dsel1" style="width:380px"></div><br>
			<div class="caja_bloque" id="quitafondo_lista_empleados_sucursal">
				<div class="incide_empleado">
					<a href="#" class="lnk_empleado">
						<div class="div_empleado">Mondragón Mena Carlos Daniel</div>
						<hr class="hr_empleado">
					</a>
					<a href="#" class="lnk_empleado">
						<div class="div_empleado">Peña Sánchez Rutilio</div>
						<hr class="hr_empleado">
					</a>
					<a href="#" class="lnk_empleado">
						<div class="div_empleado">Pérez Pérez Juan Tomas</div>
						<hr class="hr_empleado">
					</a>
					<a href="#" class="lnk_empleado">
						<div class="div_empleado">Montaño Salinas Alberto Alejandro</div>
						<hr class="hr_empleado">
					</a>
				</div>
			</div>
		</article>
		<article class="bloque reducir">
			<span id="wtf"></span>
			<div class="profiler">
				<figure class="profiler_foto">
					<p><img src="images/foto.png" alt="foto" />
				</figure>
				<div class="profiler_datos">
					<h2>37268</h2>
					<h3>Peña Sánchez Rutilio alias el alacran de pungarabato</h3>
					<h5>MOMJ7912054V8</h5>
					<h5>MOMJ791205HDFNYN07</h5>
				</div>
			</div>
			<div class="caja_incide">
				<ul class="menu_incide">
					<li>
						<span>Falta</span>
						<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
						<label for="cmn-toggle-1"></label>
					</li>
					<li>
						<span>Cubrefalta</span>
						<input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
						<label for="cmn-toggle-2"></label>
					</li>
				</ul>
			</div>
		</article>