<ul class="menu_incide">
	<li>
		<span>Falta</span>
		<input id="incidencia-seleccion-falta"  class="cmn-toggle cmn-toggle-round" type="checkbox">
		<label for="incidencia-seleccion-falta"></label>
	</li>
	<li>
		<span>Cubrefalta</span>
		<input id='incidencia-seleccion-cubrefalta'  class="cmn-toggle cmn-toggle-round" type="checkbox">
		<label  for="incidencia-seleccion-cubrefalta"></label>
	</li>
</ul>