<ul class="menu_incide">
	<li>
		<span>{{titulo}}</span>
		<input id="incidencia-seleccion-falta"  class="cmn-toggle cmn-toggle-round" type="checkbox">
		<label for="incidencia-seleccion-falta"></label>
	</li>
</ul>