<div class="titulo_bloque">
    Año/Periodo
</div>
<div class="caja_bloque">
<div class="campos_bloque">
    <ul class="ul_bloque">
{{{grp_combo "Año"  label_desc='anio_uniforme' select_name='anio_uniforme_reporte' select_id='uniforme_anio_reporte'}}}
{{{grp_combo "Periodo"  label_desc='periodo_uniforme' select_name='periodo_uniforme_reporte' select_id='uniforme_periodo_reporte'}}}    
    </ul>
</div>
</div>
<div class="lista_empleados_sucursal">
	<h3>Reporte</h3>
	<h4>Uniformes entregados</h4>

	<table class="tabla_empleados_sucursal" id="tabla_uniforme_reporte">
	</table>
</div>