<div class="titulo_bloque">
	Año/Periodo
</div>
<div class="caja_bloque">
<div class="campos_bloque">
	<ul class="ul_bloque">
	    <label id='esta_entregado'>Entrega</label>
	    <h4 id="uniforme_anio_periodo"></h4>	    		
		{{{grp_perdet "Fec.de Entrega" valor=fecha_entrega input_id='uniforme_fecha_entrega' label_desc='fecha_entrega' input_desc='Fecha de Entrega'}}}
		<h4 id="uniforme_servicio"></h4>
		{{{grp_perdetTextArea "Observaciones" textarea_id='uniformes_observaciones' valor=observaciones   label_desc='' textarea_desc='Observaciones' titulo="reducido"}}}
	</ul>
</div>
</div>
<br>
<div class="titulo_bloque">
	Uniforme
</div>
<div class="caja_bloque">
	<div class="campos_bloque">
		<ul class="ul_bloque">
			<li class="li_bloque" id="uniforme_lista1">

			</li>
			<li class="li_bloque" id="uniforme_lista2">

			</li>						
		</ul>
	</div>
   <div id="imprimir_uniformes" >Imprimir</div>

</div>